<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
    	<a class="brand" href="http://localhost:3000">chomp.er</a>
    	<ul class="nav pull-right">
    	<li><a href="http://localhost:3000">Home</a></li>
    		<% if logged_in? %>
    			<li>
    			<li><a href='/user/edit'><%= current_user.email %></a></li>
    			<li><a href='/logout'>Log out</a></li>
    		<% else %>
    		<li><a href='/signup'>Sign up</a></li>
    		<li class="active"><a href='/login'>Log in</a></li>
    		<% end %>
    	</ul>
    </div>
</div>

<div class='login'>
<h1>Log in</h1>

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :login, "Username or Email Address" %>
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </p>
  <p><%= submit_tag "Log in" %></p>
<% end %>
</div>