<div align='center'>
	<div align='right'>
	<% if logged_in? %>
	<%= link_to 'Log Out', logout_path %>
	<br><%= current_user.email %></br>
	<% else %>
	<%= link_to 'Sign Up', signup_path %>
	<%= link_to 'Log In', login_path %>
	<% end %>
	</div>
<br>
<h1> chomp.er </h1>
</br>

<%= form_for @shortener do |f| %>
 	<%= f.text_field :url, :value => 'http://' %>

 	<%= f.submit 'chomp it' %>
 <% end %>


 <table cellpadding="5" >
 	<br>
 	<th>Original URL</th>
 	<th>Shortened URL</th>
 	<th>Visit Count</th>
 	</br>

 <% @shorteners.each do |url| %>
 <tr>
	<td align='center'> <%= url.url %> &rarr; </td>
	<td align='center'> <%= link_to("#{url.short_url}", "http://localhost:3000/#{url.short_url}") %> </td>
	<td align='center'> <%= url.visit_count %>
</tr>
<% end %>

</table>

</div>