<div align='center'>

<br>
<h1> Welcome To Your Doom </h1>
</br>

<%= form_for @shortener do |f| %>
 	<%= f.text_field :url, :value => 'http://' %>

 	<%= f.submit 'Doomifier' %>
 <% end %>


 <table cellpadding="5" >
 	<br>
 	<th>Original URL</th>
 	<th>Shortened URL</th>
 	<th>Visit Count</th>
 	</br>

 <% @shorteners.each do |url| %>
 <tr>
	<td align='center'> <%= url.url %> &rarr; </td>
	<td align='center'> <%= link_to("#{url.short_url}", "http://localhost:3000/#{url.short_url}") %> </td>
	<td align='center'> <%= url.visit_count %>
</tr>

<% end %>

</table>

</div>