<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
    	<a class="brand" href="http://localhost:3000">chomp.er</a>
    	<ul class="nav pull-right">
    	<li class="active"><a href="#">Home</a></li>
    		<% if logged_in? %>
    			<li>
    			<li><a href='/user/edit'><%= current_user.email %></a></li>
    			<li><a href='/logout'>Log out</a></li>
    		<% else %>
    		<li><a href='/signup'>Sign up</a></li>
    		<li><a href='/login'>Log in</a></li>
    		<% end %>
    	</ul>
    </div>
</div>

<div id ="container">
<div id='title'>
	<h2> chomp your URLs </h2>
</div>
<div id='text-field'>
<%= form_for @shortener do |f| %>
 	<%= f.text_field :url, :value => 'http://' %>
    <%= "Customize Your Link?" %></br>
    <%= f.text_field :vanity_url %></br>
 	
 	<%= f.submit class:"btn btn-medium btn-primary", type:"submit", value:"chomp it", name:"commit" %>
 <% end %>
</div>
<table class="table table-striped">  
        <thead>  
          <tr>  
            <th>Original URL</th>  
            <th>Chomped URL</th>               
            <th>Visit Count</th>
            <th>Delete</th>
          </tr>  
        </thead>  
        <tbody>
        <% @shorteners.each do |url| %>  
          <tr>  
            <td><%= url.url %></td>
            <% if url.vanity_url == "" %>
            <td><%= link_to("chomp.er/#{url.short_url}", "http://localhost:3000/#{url.short_url}", :target => "_blank") %></td>
            <% else %>
            <td><%= link_to("chomp.er/#{url.vanity_url}", "http://localhost:3000/#{url.vanity_url}", :target => "_blank") %></td>
            <% end %>
            <td><%= url.visit_count %></td>
            <td><%= button_to "Delete", url, :method => :delete, class: "btn btn-medium btn-primary" %></td>
          </tr>
        <% end %>
        </tbody>  
</table> 
</div>