<h1> Welcome To Your Doom </h1>

<%= form_for @shortener do |f| %>
 	<%= f.label :url %>
 	<%= f.text_field :url %>

 	<%= f.submit %>

 <% end %>

 <% @shorteners.each do |url| %>
 <table cellpadding="5" >
 <tr>
	<td> <%= url.short_url %> &rarr; </td>
	<td> <%= url.url %> </td>
</tr>
<% end %>
</table>
