<h1> Welcome To Your Doom </h1>

<%= form_for @shortener do |f| %>
 	<%= f.label :url %>
 	<%= f.text_field :url %>

 	<%= f.submit %>

 <% end %>


 <table cellpadding="5" >
 	<th>Original URL</th>
 	<th>Shortened URL</th>

 <% @shorteners.each do |url| %>
 <tr>
	<td> <%= url.url %> &rarr; </td>
	<td> <%= link_to("#{url.short_url}", "#{url.url}") %> </td>
</tr>

<% end %>

</table>


